<footer class="bg-zinc-900 py-10 mt-4">
    <div class="container mx-auto flex flex-col justify-evenly md:flex-row text-center md:text-left gap-4">
        <div>
            <h4 class="text-xl font-bold">Site Map</h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/pricing">Pricing</a>
        </div>
        <div>
            <h4 class="text-xl font-bold">More</h4>
            <p>Lorem, ipsum dolor.</p>
            <p>Lorem, ipsum dolor.</p>
            <p>Lorem, ipsum dolor.</p>
        </div>
        <div>
            <h4 class="text-xl font-bold">Social Links</h4>
            <a href="/about">Instagram</a>
            <a href="/about">Facebook</a>
            <a href="/about">Tiktok</a>
        </div>
    </div>
</footer>  